/*! .bodyFooter */
.bodyFooter {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: var(--white-500);
    font-size: 14px;
    font-weight: 400;
    padding: 5px 20px;
    transition: all 0.3s linear;
    border-radius: 5px;
    border: 1px solid transparent;
}

.bodyFooter:hover {
    border: 1px solid var(--black-500);
    background: var(--black-300);
}

.bodyFooter > .col1 {
    flex: 2;
}
.bodyFooter > .col2 {
    flex: 1;
}
.bodyFooter > .col3 {
    flex: 0.8;
}
.bodyFooter > .col4 {
    flex: 0.5;
}

.bodyFooter .col1 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.bodyFooter .col1 img {
    width: 50px;
    border-radius: 5px;
    object-fit: contain;
}
.bodyFooter__name {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.bodyFooter__name:hover {
    color: var(--green);
    text-decoration: underline;
}

.bodyFooter__artist a , .col2{
    color: var(--white-500);
    text-decoration: none;
}
.bodyFooter__artist a:hover, .col2:hover {
    color: var(--white);
    text-decoration: underline;
}
.bodyFooter__artist a:not(:last-child)::after {
    content: ', ';
    padding-right: 5px;
}

@media (max-width: 60em) {
    .bodyFooter > .col3 {
        display: none;
    }
}
@media (max-width: 50em) {
    .bodyFooter > .col2 {
        display: none;
    }
}
@media (max-width: 25em) {
    .bodyFooter > .col4 {
        display: none;
    }
}
