
/*! body__info */

.body__info {
    width: 100%;
    display: flex;
    gap: calc(15px + 2vw);
    padding: 10px;
}
.body__info img {
    width: calc(50px + 8vw);
    object-fit: contain;
}
.body__infoText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.body__infoText h2 {
    font-size: calc(8px + 4vw);
}

.body__infoText p {
    padding-top: 10px;
    font-size: 0.8rem;
}
.body__infoDetail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.body__infoDetail span {
    font-size: 0.8rem;
}
.body__infoDetail img {
    width: 20px;
    object-fit: contain;
    border-radius: 50%;
}

/*! .body__songs */

.body__songs {
    padding: 0;
}
.body__col {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.body__col div:nth-child(1) {
    flex: 2;
}
.body__col div:nth-child(2) {
    flex: 1;
}
.body__col div:nth-child(3) {
    flex: 0.8;
}
.body__col div:nth-child(4) {
    flex: 0.5;
}
