.body {
  overflow-y: overlay;
  border-radius: 20px;
  padding: 10px;
  color: aliceblue;
  border: 5px solid black;
  flex: 0.8;
  height: 100vh;
  background-color: #121212;
}
.body::-webkit-scrollbar {
  display: none;
}

/*! body__info */

.body__info {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  padding: 20px;
  background-color: #181818;
}
.body__info img {
  width: 200px;
  height: 150px;
}
.body__infoText {
  padding-left: 20px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}
.body__infoText strong {
  color: cyan;
  font-size: 1rem;
}
.body__infoText h2 {
  padding: 10px 0;
  font-size: 2rem;
}
.body__infoText p {
  padding-top: 10px;
  font-size: 0.8rem;
}

/*! .body__songs */

.MuiSvgIcon-root {
  cursor: pointer;
}
.body__shuffle {
  font-size: 60px !important;
}
.body__shuffle:hover {
  transition: all 100ms ease-in;
  transform: scale(1.1);
  color: hsl(0, 0%, 63%);
}

.body__col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 850px) {
  .body__col {
    display: block;
  }
}