.header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 20px;
    background: #121212;
    box-shadow: 0 0 5px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__left {
    flex: 1;
}

/* Search bar */
.search {
    display: flex;
    position: relative;
}
.searchTerm {
    width: 100%;
    max-width: 300px;
    padding: 15px 40px;
    border-radius: 100vmax;
    border: none;
    background: #202020;
    color: #fff;
}
.searchButton {
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 5;
    border: none;
    color: var(--white-500);
    cursor: pointer;
    font-size: 20px;
}

/* User name and pic */
.header__right {
    width: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.header__right img {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;
}
.header__right h4 {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
