.header {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 20px;
    background: #121212;
    box-shadow: 0 0 5px #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.header__left {
    flex: 1;
    position: relative;
}

/* Search bar */
.search {
    display: flex;
}
.search__item {
    position: absolute;
    top: 50px;
    z-index: 10;
    max-width: 300px;
    overflow: hidden;
    border-radius: 15px;
    background: var(--black-300);
    box-shadow: 0 5px 15px #000;
    color: white;
}
.search__item p {
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 30px;
}
.search__item p:hover {
    background: #121212;
    border: 1px solid #000;
}

.search__item .search__icon {
    position: absolute;
    z-index: 20;
    font-size: 2rem;
    cursor: pointer;
    top: 5px;
    right: 5px;
    color: var(--white-500);
}
.search__item .search__icon:hover {
    scale: 1.1;
    color: var(--white-300);
}
.searchTerm {
    width: 100%;
    max-width: 300px;
    padding: 15px 40px;
    border-radius: 100vmax;
    border: none;
    background: #202020;
    color: #fff;
}
.searchButton {
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 5;
    border: none;
    color: var(--white-500);
    cursor: pointer;
    font-size: 20px;
}

/* User name and pic */
.header__right {
    width: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.header__right img {
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;
}
.header__right h4 {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}
