.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__left {
  flex: 0.5;
  /* min-width: 70px;
  background-color: white;
  color: gray;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center; */
}
/* .header__left > input {
  border: none;
  width: 100%;
  font-size: 1.5rem;
}
.header__left input::placeholder {
  font-size: 0.8rem;
  align-items: center;
  text-transform: uppercase;
  color: rgb(194, 136, 248);
} */

/* User name and pic */
.header__right {
  display: flex;
  align-items: center;
}
.header__right h4 {
  margin-left: 10px;
}

/* Search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #fc309c;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #202020;
}
.searchTerm:focus {
  color: #fc309c;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #fc309c;
  background: #fc309c;
  text-align: center;
  color: #FFF;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

