.sidebar {
    color: aliceblue;
    height: 100%;
    overflow-y: scroll;
    flex: 0.2;
    background-color: #121212;
    min-width: 280px;
}
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--black-300);
}
.sidebar__logo {
    object-fit: contain;
    height: 60px;
    width: 100%;
    padding: 10px;
}
.sidebar__title {
    text-transform: uppercase;
    padding-left: 10px;
    color: #dbdbdb;
}
.sidebar__title:hover {
    color: #fff;
}
.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}
.sidebar_div {
    color: #dbdbdb;
}
