.sidebarOption {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.sidebarOption__title {
  cursor: pointer;
  line-height: 2;
  color: gray;
  display: flex;
  align-items: center;
  transition: 200ms color ease-in;
}
.sidebarOption__title:hover {
  color: aliceblue;
}
.sidebarOption__icon {
  margin: 10px;
}
