.SideBarList {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}
.SideBarList__title {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.SideBarList__title div h5 {
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 5px;
}
.SideBarList:hover,
.SideBarList.activeSideBarList {
    background: var(--black-300);
    border: 1px solid var(--black-500);
}
