.sidebar {
    color: aliceblue;
    height: 100%;
    overflow-y: scroll;
    flex: 0.2;
    background-color: #121212;
    min-width: 280px;
}
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--black-300);
}
.sidebar__logo {
    object-fit: contain;
    height: 60px;
    width: 100%;
    padding: 10px;
    transition: scale 0.2s ease-out;
}
.sidebar__logo:hover {
    scale: 0.95;
}

.sidebar__music {
    text-transform: uppercase;
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    color: #fff;
}
.sidebar__music a {
    color: #fff;
    text-decoration: none;
}

/* Manage Media Query in 30 view screen */
@media (max-width: 40em) {
    .sidebar {
        min-width: 100px;
    }
    .SideBarList__title > img {
        display: block;
        margin: 5px 0;
        width: 100%;
        object-fit: contain;
    }
    .SideBarList__title > div {
        display: none;
    }
}
