.music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.music-detail {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 300px;
}
.music-detail a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
}
.music-detail .title:hover {
    text-decoration: underline;
    color: var(--green);
}
.music-detail .artists_name:hover {
    text-decoration: underline;
}
.music-detail img {
    width: 50px;
    display: block;
}
.music-controls {
    width: 80%;
}
.music-controls .controls,
.progress {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.progress .audio-progress {
    width: 80%;
    max-width: 400px;
    cursor: pointer;
}

.controls svg {
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-out;
}
.controls svg:hover {
    color: var(--green);
}

@media (max-width: 30em) {
    .music-player {
        flex-direction: column;
        gap: 10px;
    }
    .music-detail {
        justify-content: center;
    }
    .music-player .music-detail a {
        font-size: 12px;
    }
    .controls svg {
        font-size: 1.5rem;
    }
    .progress {
        font-size: 12px;
    }
}
