.PlayButton {
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: transparent;
}
.PlayButton svg {
    transition: scale 0.3s linear;
    border-radius: 50%;
}
.PlayButton svg:hover {
    scale: 1.2;
    box-shadow: 5px 8px 10px var(--black);
}
