.body {
  border-radius: 20px;
  color: aliceblue;
  border: 5px solid black;
  flex: 0.8;
  background-color: #121212;
}
/*second container background-color: #181818; */
/*third playlist background-color: #2b2b2d; */
/* background-gradient: #201640; */

