.login {
  display: grid;
  height: 100vh;
  max-width: 500px;
  margin: auto;
  align-content: space-evenly;
  place-items: center;
}
.login__title {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center; 
} 

.login img {
  /* width: 90%; */
  height: 100px;
}

.login a {
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #1db954;
  font-weight: 800;
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: capitalize;
}
.login a:hover{
  background-color: #168f41;
}