.player {
    background: #000;
    display: flex;
    height: 100vh;
}

/*! Sidebar  */

.sidebar {
    color: aliceblue;
    height: 100%;
    overflow-y: scroll;
    flex: 0.2;
    background-color: #121212;
    min-width: 280px;
}
.sidebar::-webkit-scrollbar {
    width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--black-300);
}

@media (max-width: 60em) {
    .sidebar {
        min-width: 200px;
    }
}

@media (max-width: 30em) {
    .sidebar {
        min-width: 70px;
    }
    .sidebar .sidebar__container .sidebar__item .sidebar__img {
        width: 70px;
    }
}

/*! Body  */
.body {
    overflow-y: overlay;
    color: aliceblue;
    flex: 0.8;
    height: 100%;
    background-color: #121212;
}

.body::-webkit-scrollbar {
    width: 6px;
}

.body::-webkit-scrollbar-thumb {
    background-color: var(--black-300);
    border-radius: 10px;
}
